.FormGroupMargin{
    margin-left: 15px;
}
.FontStyle{
    font-weight: normal;
}
.btn{

    width: auto;
    background-color: #1b67e2;

}
.btn:hover{
    background-color: #0943a0;
}
.react-rater-star{
    font-size: 30px;
    font-color: #1b67e2;
}

.react-rater-star-individual{
    font-size: 20px;
    font-color: #1b67e2;
}